.custom-pagination .ant-pagination-item {
  font-size: 20px;
}

.custom-pagination .ant-pagination-prev,
.custom-pagination .ant-pagination-next {
  font-size: 25px !important;
}
.custom-pagination .ant-pagination-item {
  min-width: 40px !important;
  height: 40px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.custom-pagination.ant-pagination {
  align-items: center;
}
@media only screen and (max-width: 540px) {
  .custom-pagination .ant-pagination-item {
    font-size: 14px;
  }
  .custom-pagination .ant-pagination-prev,
  .custom-pagination .ant-pagination-next {
    font-size: 14px !important;
  }
  .custom-pagination .ant-pagination-item {
    min-width: 27px !important;
    height: 27px !important;
  }
}
