/* @import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic); */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #dfecfa;
  --white: #ffffff;
}
body {
  background-color: white;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

html {
  font-size: 1rem;
}

button {
  outline: none;
  border: none;
}
button:focus {
  outline: none;
  border: none;
}
.btn {
  border-radius: 100px;
  background-color: #1d7afc;
  color: #fff;
  text-align: center;
  font-weight: 400;
  transition: all 0.5s;
  border: 1px solid transparent;
}
.btn:hover{
  background-color: #fff;
  border: 1px solid #1d7afc;
  color: #1d7afc;
}
.title {
  color: #1b1d20;
  font-size: 28px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  line-height: 32px;
}
.swiper-wrapper{
  padding-top: 60px;
}
.comments_swiper .swiper-wrapper{
  padding-top: 70px;
}

.swiper-button-prev, .swiper-button-next{
  color: #fff !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  top: 40px !important;
  background-color: #1d7afc;
}
.swiper-button-prev{
  left: 93% !important;
}
.swiper-button-prev::after, .swiper-button-next::after{
  font-size: 20px !important;
  font-weight: 700 !important;
}
.swiper-button-prev.swiper-button-disabled{
  opacity: 1 !important;
  color: #465670 !important;
  background-color: #F1F2F4 !important;
}
.swiper-button-next.swiper-button-disabled{
  opacity: 1 !important;
  color: #465670 !important;
  background-color: #F1F2F4 !important;
}
.bar_container div div{
  background-color: #007bff !important;
}
.bar_container div{
  background-color: #F1F2F4FF !important;
}


@media only screen and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (max-width: 780px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (max-width: 540px) {
  html {
    font-size: 10px;
  }
}
