/* @import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic); */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #dfecfa;
  --white: #ffffff;
}
body {
  background-color: white;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}
button:focus {
  outline: none;
  border: none;
}
.btn {
  border-radius: 100px;
  background-color: #1d7afc;
  color: #fff;
  text-align: center;
  font-weight: 400;
  transition: all 0.5s;
  border: 1px solid transparent;
}

.btn:hover {
  background-color: #fff;
  border: 1px solid #1d7afc;
  color: #1d7afc;
}
.title {
  color: #1b1d20;
  font-size: 28px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  line-height: 32px;
}
.swiper-wrapper {
  padding-top: 60px;
}
.comments_swiper .swiper-wrapper {
  padding-top: 70px;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  top: 40px !important;
  background-color: #1d7afc;
}
.swiper-button-prev {
  left: 93% !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px !important;
  font-weight: 700 !important;
}
.swiper-button-prev.swiper-button-disabled {
  opacity: 1 !important;
  color: #465670 !important;
  background-color: #f1f2f4 !important;
}
.swiper-button-next.swiper-button-disabled {
  opacity: 1 !important;
  color: #465670 !important;
  background-color: #f1f2f4 !important;
}
.mySwiper {
  padding: 10px 0;
}

.bar_container div div {
  background-color: #007bff !important;
}
.bar_container div {
  background-color: #f1f2f4ff !important;
}

@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 780px) {
}
@media only screen and (max-width: 540px) {
  .swiper-wrapper {
    padding-top: 40px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 25px !important;
    height: 25px !important;
    top: 30px !important;
  }
  .swiper-button-prev {
    left: 82% !important;
  }
  .swiper-button-next {
    right: 0% !important;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 12px !important;
  }

  .title {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
  }
  .comments_swiper .swiper-wrapper {
    padding-top: 45px;
  }
  .ant-select-selector {
    padding: 0 4px !important;
  }
}
@media only screen and (max-width: 420px) {
  .swiper-button-prev {
    left: 80% !important;
  }
}
