.my-course_accordion {
  width: 100%;
}

.my-course_accordion .accordion-trigger {
  width: 100%;
  border: 2px dashed #dcdfe3;
  margin-bottom: 16px;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  border-radius: 16px;
}

.my-course_accordion .accordion-content {
  background: #ffffff;
  padding: 10px 15px;
  border-radius: 16px;
  margin-bottom: 16px;
}

.my-course_accordion .accordion-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.my-course_accordion .accordion-content li {
  margin: 5px 0;
}
.my-course_accordion .accordion-header button:disabled {
  opacity: 0.6;
  outline: none;
}

:root {
  --primary-color: #c8dc71;
  --gradient-color: linear-gradient(180deg, #d2ff00 0%, #00d2ff 100%);
}

.btn-primary {
  display: flex;
  place-items: center;
  border-radius: 0.75em;
  padding: 1rem 3rem;
  color: #fff;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  box-shadow: inset 0 0 0 1px black, 0 0 0 2px #5c6063,
    0 0 0 4px rgba(0, 0, 0, 0.25), 0 11px 27px -5px rgba(0, 0, 0, 0.53),
    0 25px 25px -4px rgba(0, 0, 0, 0.35);

  background-image: radial-gradient(
      227.71% 180.23% at 90.64% 130.38%,
      rgb(17, 20, 23) 0%,
      rgb(55, 59, 63) 100%
    ),
    radial-gradient(
      207.84% 121.69% at -5.69% 111.39%,
      rgb(17, 20, 23) 0%,
      rgb(55, 59, 63) 100%
    ),
    linear-gradient(
      206deg,
      rgba(123, 134, 151, 0.2) 0%,
      rgba(25, 27, 30, 0.2) 100%
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
}
.btn-primary button {
  font-size: 1rem;
  background-image: linear-gradient(69deg, #d1d1d1 0%, #9f9f9f 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.125);
  transition: all 0.25s ease-in-out;
}
.btn-primary:active {
  transform: translateY(2px);
  box-shadow: inset 0 0 0 1px black, 0 0 0 2px #3a3d40,
    0 0 0 4px rgba(0, 0, 0, 0.25), 0 4px 12px -5px rgba(0, 0, 0, 0.53),
    0 6px 6px -4px rgba(0, 0, 0, 0.35);
  transition: all 0.25s ease-in-out;

}
