.mobile_navbar a.active p {
  color: #1d7afc;
  font-weight: 500;
}
.mobile_navbar a.active i {
  color: #1d7afc;
}
.lesson_layout_wrap {
  width: calc(100dvw - 26rem);
  position: relative;
  left: 25rem;
}
.menu_wrap{
  display: block;
}
/* Global CSS faylga yozish */
::-webkit-scrollbar {
  width: 5px; /* Skroll eni */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track (fon) rangi */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Skroll rang */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Hover effekti */
}

@media only screen and (max-width: 1100px) {
  .lesson_layout_wrap {
    width: 100%;
    position: relative;
    left: auto;
  }
  .menu_wrap{
    display: none;
  }
}
